<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/hf-common/css/hf-footer.css}" href="../resource/foot/css/hf-footer.css">
</head>
<body>
    <!--<div style="width: 100%;height: 1850px;"></div>-->
    <!--footer部分start-->
    <div class="footer">
        <div class="bottom w">
             <!--相关链接-->
             <div class="links ac">
                 <a class="js-hffooter-a1">关于我们</a>
                 <a class="js-hffooter-a2">隐私条款</a>
                 <a class="js-hffooter-a3">用户协议</a>
                 <a class="js-hffooter-a4">帮助中心</a>
                 <a class="js-hffooter-a5">联系我们</a>
                 <a class="js-hffooter-a6">意见反馈</a>
             </div>
             <!--版权声明-->
             <div class="copyright ac">
                 <p class="copyright-p1"><span style="margin-right: 16px;">Copyright@2017-2018</span><span>北京入行教育科技有限公司版权所有</span></p>
                 <p class="copyright-p2"><span style="margin-right: 16px;">京公网安备11030102010224</span><span>京ICP备16011120号-10</span></p>
             </div>
        </div>
    </div>


    <!--footer部分end-->
</body>
</html>